Repository IC-Naming/icnaming-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: 📖 Docs, 🌍 i18n, 🖼 image, Actions

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

📖 Docs: src/docs/**/*
🌍 i18n: src/i18n/en-US/**/*
🖼 image: src/static/images/**
Actions: .github/workflows/**/*

try to deploy docs
  .github/workflows/release.yml
Labels: Actions

fix path
  .github/workflows/release.yml
Labels: Actions

Create 'gh-pages' branch
  README.md
Labels: none

roy4roll published a site update
  .nojekyll
  404.html
  Concepts/ProtocolOverview/Glossary/index.html
  README.md
  TechnicalReference/CoreTheory/index.html
  assets/css/styles.f1ea6929.css
  assets/js/17896441.b49e087d.js
  assets/js/1be78505.4c235175.js
  assets/js/2c9cc0cd.f6306173.js
  assets/js/5d743ec7.e93f8547.js
  assets/js/75.67863d7d.js
  assets/js/935f2afb.5cfa8237.js
  assets/js/9e4087bc.6e4f5211.js
  assets/js/b2f554cd.44a29ed3.js
  assets/js/common.7510024a.js
  assets/js/common.7510024a.js.LICENSE.txt
  assets/js/f31a9d03.71b406f4.js
  assets/js/main.b747079a.js
  assets/js/main.b747079a.js.LICENSE.txt
  assets/js/runtime~main.3b84591b.js
  blog/archive/index.html
  img/favicon.ico
  img/logo.png
  index.html
  sitemap.xml
Labels: none

Feature/GitHub pages (#1)
  .github/workflows/release.yml
Labels: Actions

Create CNAME
  CNAME
Labels: none

add some doc
  .gitignore
  src/docs/Concepts/ProtocolOverview/Glossary.md
  src/docs/TechnicalReference/Canister/Registrar.md
  src/docs/TechnicalReference/Canister/Registry.md
  src/docs/TechnicalReference/Canister/Resolver.md
  src/docs/TechnicalReference/CanisterIds.md
  src/docs/TechnicalReference/CanistersToGo.md
  src/docs/TechnicalReference/CoreTheory.md
  src/docs/TechnicalReference/ResolverKeys.md
Labels: 📖 Docs

add some doc (#2)
  .gitignore
  src/docs/Concepts/ProtocolOverview/Glossary.md
  src/docs/TechnicalReference/Canister/Registrar.md
  src/docs/TechnicalReference/Canister/Registry.md
  src/docs/TechnicalReference/Canister/Resolver.md
  src/docs/TechnicalReference/CanisterIds.md
  src/docs/TechnicalReference/CanistersToGo.md
  src/docs/TechnicalReference/CoreTheory.md
  src/docs/TechnicalReference/ResolverKeys.md
Labels: 📖 Docs

roy4roll published a site update
  404.html
  CNAME
  Concepts/ProtocolOverview/Glossary/index.html
  TechnicalReference/Canister/Registrar/index.html
  TechnicalReference/Canister/Registry/index.html
  TechnicalReference/Canister/Resolver/index.html
  TechnicalReference/CanisterIds/index.html
  TechnicalReference/CanistersToGo/index.html
  TechnicalReference/CoreTheory/index.html
  TechnicalReference/ResolverKeys/index.html
  assets/js/1be78505.1fa426e5.js
  assets/js/1be78505.4c235175.js
  assets/js/2c9cc0cd.91303720.js
  assets/js/2c9cc0cd.f6306173.js
  assets/js/5d743ec7.e93f8547.js
  assets/js/6207f52f.4d2ea3d6.js
  assets/js/667.10063561.js
  assets/js/667.10063561.js.LICENSE.txt
  assets/js/814.23cca60a.js
  assets/js/935f2afb.3cb6c35d.js
  assets/js/935f2afb.5cfa8237.js
  assets/js/93a53dad.e85804c3.js
  assets/js/9f285b88.c20e089d.js
  assets/js/b78afa96.ae314346.js
  assets/js/common.7510024a.js
  assets/js/f14d6bda.f4e4cdd7.js
  assets/js/f31a9d03.6e4e44f7.js
  assets/js/f31a9d03.71b406f4.js
  assets/js/f4eb49e9.a1066e08.js
  assets/js/main.b747079a.js
  assets/js/main.e9118441.js
  assets/js/main.e9118441.js.LICENSE.txt
  assets/js/runtime~main.1960ae47.js
  assets/js/runtime~main.3b84591b.js
  blog/archive/index.html
  index.html
  sitemap.xml
Labels: none

Create CNAME
  CNAME
Labels: none

support cname
  .github/workflows/release.yml
Labels: Actions

name
  .github/workflows/release.yml
Labels: Actions

roy4roll published a site update
  CNAME
Labels: none

fix cname (#3)
  .github/workflows/release.yml
Labels: Actions

Pin dependencies
  src/package.json
Labels: none

Update dependency typescript to v4.5.5
  src/package.json
Labels: none

Update docusaurus monorepo to v2.0.0-beta.15
  src/package.json
Labels: none

Update dependency @mdx-js/react to v2
  src/package.json
Labels: none

Update dependency @svgr/webpack to v6
  src/package.json
Labels: none

Update remark monorepo
  src/package.json
Labels: none

roy4roll published a site update
  404.html
  Concepts/ProtocolOverview/Glossary/index.html
  TechnicalReference/Canister/Registrar/index.html
  TechnicalReference/Canister/Registry/index.html
  TechnicalReference/Canister/Resolver/index.html
  TechnicalReference/CanisterIds/index.html
  TechnicalReference/CanistersToGo/index.html
  TechnicalReference/ResolverKeys/index.html
  assets/css/styles.c8035992.css
  assets/css/styles.f1ea6929.css
  assets/js/main.08fe4d44.js
  assets/js/main.08fe4d44.js.LICENSE.txt
  assets/js/main.e9118441.js
  assets/js/runtime~main.1960ae47.js
  assets/js/runtime~main.a96d6a8a.js
  blog/archive/index.html
  index.html
Labels: none

Update dependency prism-react-renderer to v1.3.1
  src/package.json
Labels: none

Add doc: aboutus FAQ
  src/docs/AboutUs.mdx
  src/docs/FrequentAskedQuestions.mdx
Labels: 📖 Docs

Update dependency hast-util-is-element to v2
  src/package.json
Labels: none

roy4roll published a site update
  404.html
  Concepts/ProtocolOverview/Glossary/index.html
  TechnicalReference/Canister/Registrar/index.html
  TechnicalReference/Canister/Registry/index.html
  TechnicalReference/Canister/Resolver/index.html
  TechnicalReference/CanisterIds/index.html
  TechnicalReference/CanistersToGo/index.html
  TechnicalReference/ResolverKeys/index.html
  assets/js/main.0fa85bec.js
  assets/js/main.0fa85bec.js.LICENSE.txt
  assets/js/main.30d8b4ea.js
  assets/js/runtime~main.bfc8bf24.js
  assets/js/runtime~main.c0ac962d.js
  blog/archive/index.html
  index.html
Labels: none

tyler1500 published a site update
  404.html
  AboutUs/index.html
  Concepts/ProtocolOverview/Glossary/index.html
  FrequentAskedQuestions/index.html
  TechnicalReference/Canister/Registrar/index.html
  TechnicalReference/Canister/Registry/index.html
  TechnicalReference/Canister/Resolver/index.html
  TechnicalReference/CanisterIds/index.html
  TechnicalReference/CanistersToGo/index.html
  TechnicalReference/ResolverKeys/index.html
  assets/js/1be78505.d2bed162.js
  assets/js/1be78505.db03c0df.js
  assets/js/665e4601.408778e7.js
  assets/js/935f2afb.a82b45d5.js
  assets/js/935f2afb.c0a5ed52.js
  assets/js/d6c636b5.b5feb14b.js
  assets/js/f14d6bda.254e93e1.js
  assets/js/f14d6bda.4e0fad8f.js
  assets/js/main.0fa85bec.js
  assets/js/main.cdf61c3a.js
  assets/js/main.cdf61c3a.js.LICENSE.txt
  assets/js/runtime~main.0a93c41e.js
  assets/js/runtime~main.bfc8bf24.js
  blog/archive/index.html
  index.html
  sitemap.xml
Labels: none

Update Q&A
  src/docs/FrequentAskedQuestions.mdx
Labels: 📖 Docs

tyler1500 published a site update
  404.html
  AboutUs/index.html
  Concepts/ProtocolOverview/Glossary/index.html
  FrequentAskedQuestions/index.html
  TechnicalReference/Canister/Registrar/index.html
  TechnicalReference/Canister/Registry/index.html
  TechnicalReference/Canister/Resolver/index.html
  TechnicalReference/CanisterIds/index.html
  TechnicalReference/CanistersToGo/index.html
  TechnicalReference/ResolverKeys/index.html
  assets/js/d6c636b5.97bde254.js
  assets/js/d6c636b5.b5feb14b.js
  assets/js/runtime~main.0a93c41e.js
  assets/js/runtime~main.7998da15.js
  blog/archive/index.html
  index.html
Labels: none

Update FAQ
  src/docs/FrequentAskedQuestions.mdx
Labels: 📖 Docs

tyler1500 published a site update
  404.html
  AboutUs/index.html
  Concepts/ProtocolOverview/Glossary/index.html
  FrequentAskedQuestions/index.html
  TechnicalReference/Canister/Registrar/index.html
  TechnicalReference/Canister/Registry/index.html
  TechnicalReference/Canister/Resolver/index.html
  TechnicalReference/CanisterIds/index.html
  TechnicalReference/CanistersToGo/index.html
  TechnicalReference/ResolverKeys/index.html
  assets/js/d6c636b5.66825b31.js
  assets/js/d6c636b5.97bde254.js
  assets/js/runtime~main.68bb768f.js
  assets/js/runtime~main.7998da15.js
  blog/archive/index.html
  index.html
Labels: none

Update dependency typescript to v4.6.2
  src/package.json
Labels: none

Update actions/checkout action to v3
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: Actions

Update actions/labeler action to v4
  .github/workflows/labeler.yml
Labels: Actions

Update docusaurus monorepo to v2.0.0-beta.17
  src/package.json
Labels: none

Update actions/setup-node action to v3
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: Actions

roy4roll published a site update
  404.html
  AboutUs/index.html
  Concepts/ProtocolOverview/Glossary/index.html
  FrequentAskedQuestions/index.html
  TechnicalReference/Canister/Registrar/index.html
  TechnicalReference/Canister/Registry/index.html
  TechnicalReference/Canister/Resolver/index.html
  TechnicalReference/CanisterIds/index.html
  TechnicalReference/CanistersToGo/index.html
  TechnicalReference/ResolverKeys/index.html
  assets/js/2c9cc0cd.2f4cf2ff.js
  assets/js/2c9cc0cd.baed4b3b.js
  assets/js/6207f52f.60cdfded.js
  assets/js/6207f52f.e5f1451b.js
  assets/js/665e4601.408778e7.js
  assets/js/665e4601.eb397854.js
  assets/js/93a53dad.345d13a8.js
  assets/js/93a53dad.40f79bf1.js
  assets/js/9f285b88.d1636970.js
  assets/js/9f285b88.e51ae033.js
  assets/js/b78afa96.5f33df5f.js
  assets/js/b78afa96.de888d73.js
  assets/js/d6c636b5.66825b31.js
  assets/js/d6c636b5.a7da6682.js
  assets/js/f14d6bda.254e93e1.js
  assets/js/f14d6bda.4c42ee68.js
  assets/js/f31a9d03.36706d3b.js
  assets/js/f31a9d03.7dbacc83.js
  assets/js/f4eb49e9.5726c508.js
  assets/js/f4eb49e9.585f31d1.js
  assets/js/main.cdf61c3a.js
  assets/js/main.eb7e5f4f.js
  assets/js/main.eb7e5f4f.js.LICENSE.txt
  assets/js/runtime~main.48dffba8.js
  assets/js/runtime~main.68bb768f.js
  blog/archive/index.html
  index.html
Labels: none
